{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Delete tags {% endblock %}

{% block content %}

<div class="row">
  <div class="col">
  </div>
  <div class="col-5">
    <h1>Delete tag</h1>
    <br/>
    <form method="post" novalidate> 
      {% csrf_token %}
      <p>Do you realy want to delete tag <i><strong>{{ tag.name }}</strong></i>?</p>
      <br/>
      <button type="submit" class="btn btn-danger">Delete</button>
      <button onclick="window.history.back();" class="btn btn-default" type="button">Cancel</button>
    </form>
  </div>
  <div class="col">
  </div>
</div> 

{% endblock %}