{% extends 'base.html' %}

{% block title %} Currencies {% endblock %}

{% block content %}

<h1>
Currencies
<small class="text-muted"><a href="{% url 'add_currency' %}">add new</a></small>
</h1>
<br/>
{% if currencies_list %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Code</th>
                <th scope="col">Name</th>
                <th scope="col">Last modified</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
        {% for currency in currencies_list %}        
            <tr>
                <th scope="row">{{ currency.id }}</th>
                <td>{{ currency.code }}</td>
                <td>{{ currency.name }}</td>
                <td>{{ currency.updated_date_time }}</td>
                <td><a class="fa fa-pencil" href="{% url 'edit_currency' id=currency.id %}"></a></td>
                <td><a class="fa fa-trash" href="{% url 'delete_currency' id=currency.id %}"></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>There are no currencies.</p>
{% endif %}

{% endblock %}